# python
__pycache__/
*.pyc

# streamlit
.streamlit/secrets.toml

# caches
.cache/

MOSAICapp.code-workspacedata/**/preprocessed/cache/
eval/**/
**/__pycache__/
*.npy
*.npz
.DS_Store
data/**/preprocessed/cache/
