--extra-index-url https://download.pytorch.org/whl/cpu
torch
streamlit>=1.37
pandas
numpy
nltk
bertopic
umap-learn
hdbscan
#scikit-learn
scikit-learn<1.6 #for LLM
sentence-transformers
datamapplot
huggingface_hub
matplotlib
huggingface_hub>=0.31.0
# llama-cpp-python
# https://github.com/romybeaute/MOSAIC/tree/mosaic2.1/src/mosaic